@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Winky Sans", sans-serif;
}

.nav-underline .nav-link {
    color: #000;
}

/* Heart button */
.heart-btn {
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 50%;
  padding: 6px 9px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 5;
}

.heart-btn:hover {
  transform: scale(1.2);
  background-color: #ff4b4b;
  color: #fff;
}

.btn-light {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}